<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Demonstration of Prim's and Kruskal's algorithm to find the minimum spanning tree of a graph.">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:site_name" content="Minimum Spanning Tree Demonstration">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Minimum Spanning Tree Demonstration">
  <meta property="og:description" content="Demonstration of Prim's and Kruskal's algorithm to find the minimum spanning tree of a graph.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Minimum Spanning Tree Demonstration">
  <meta name="twitter:description" content="Demonstration of Prim's and Kruskal's algorithm to find the minimum spanning tree of a graph.">
  <title>Minimum Spanning Tree Demonstration</title>

  <!-- Roboto Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
  <!-- Bootstrap Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Emoji Icons -->
  <link rel="stylesheet" href="https://afeld.github.io/emoji-css/emoji.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- jQuery Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Paper.js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.4/paper-full.min.js">

  </script>
</head>
