<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-main">
    

    <div class="details-container">
      <div class="description">
        <span style="font-weight: 600;">Clique em qualquer lugar da tela para criar as estrelas.</span><br><br>
        <select id="select-algo" class="select-algo" name="algo">
          <option value="1">Algoritmo de Prim</option>
          <option value="2">Algoritmo de Kruskal</option>
        </select>
        <br>
        <button id="btn-compute" class="btn-main" type="button" name="compute">Construir</button>
        <button id="btn-reset" class="btn-main" type="button" name="reset">Resetar</button>
      </div>
    </div>

    <canvas id="canvas" class="main-canvas" resize></canvas>

    <script type="text/javascript" src="js/constants.js" canvas="canvas"></script>
    <script type="text/javascript" src="js/vertex.js" canvas="canvas"></script>
    <script type="text/javascript" src="js/edge.js" canvas="canvas"></script>
    <script type="text/javascript" src="js/minheap.js" canvas="canvas"></script>
    <script type="text/javascript" src="js/unionfind.js" canvas="canvas"></script>
    <script type="text/paperscript" src="js/script.js" canvas="canvas"></script>
  </body>
</html>
