<!DOCTYPE html>
<html>
  {{> head}}
  <body class="body-main">
    

    <div class="details-container">
      <div class="description">
        Clique em qualquer lugar da tela para criar as estrelas.<br><br>
        <select id="select-algo" class="select-algo" name="algo">
          <option value="1">Algoritimo de Prim</option>
          <option value="2">Algoritimo de Kruskal</option>
        </select>
        <br>
        <button id="btn-compute" class="btn-main" type="button" name="compute">Construir</button>
        <button id="btn-reset" class="btn-main" type="button" name="reset">Resetar</button>
      </div>
    </div>

    <canvas id="canvas" class="main-canvas" resize></canvas>

    <script type="text/javascript" src="js-min/constants.js" canvas="canvas"></script>
    <script type="text/javascript" src="js-min/vertex.js" canvas="canvas"></script>
    <script type="text/javascript" src="js-min/edge.js" canvas="canvas"></script>
    <script type="text/javascript" src="js-min/minheap.js" canvas="canvas"></script>
    <script type="text/javascript" src="js-min/unionfind.js" canvas="canvas"></script>
    <script type="text/paperscript" src="js-min/script.js" canvas="canvas"></script>
  </body>
</html>
